{% extends 'layout/base.html' %}

{% block title %}Contacts{% endblock %}

{% block body %}

<div style="align-items: center;">
<h1 class="m-5">Contact QR code</h1>
<div class="m-5 spinner-border text-secondary invisible" role="status" id="qr_code_loader"></div>
<div class="m-5" style=" display: grid;
justify-content: center;
align-content: center;">
    <div id="qrcode" ></div>
</div>

</div>

<div>
    
</div>

    <script>
    let x = document.cookie
        .split(';')
        .map(cookie => cookie.split('='))
        .reduce((accumulator, [key, value]) => ({ ...accumulator, [key.trim()]: decodeURIComponent(value) }), {});

    function makeCode (obj) {
        qrcode.makeCode(obj);
    }
    var qrcode = new QRCode(document.getElementById("qrcode"), {
        width : 300,
        height : 300
        });

        var path = window.location.pathname.split('/')
        // console.log(path[2])
        $.ajax({
            type : "GET",
            url : "/details_api/"+path[2]+"/",
            headers: {Authorization: 'Bearer ' + x.access},
            beforeSend: function(){
                $('#qr_code_loader').removeClass("invisible")
                $('#qr_code_loader').addClass("p-5")
            },
            success: function(value){
            // console.log("value")
            // console.log(value)

                // info = "Name : " + value.name + "\n" +" Phone : " + value.phone1 + " : "  + " Email : " + value.email
                info = `Name : ${value.name}\nPhone : ${value.phone1}\nEmail : ${value.email}`
                makeCode(info);

            },
            complete: function(){
                $('#qr_code_loader').addClass("invisible")
                $('#qr_code_loader').removeClass("p-5")
            },
            error: function(errormsg){
                console.log(errormsg)
            }
        });
</script>

{% endblock %}