/venv/
/env/
/.idea/
/media/
/__pycache__/
/contact_list/__pycache__/settings.cpython-38.pyc/
/contacts/__pycache__/serializers.cpython-38.pyc/
/contacts/__pycache__/urls.cpython-38.pyc/
/contacts/__pycache__/views.cpython-38.pyc/

venv/
env/
media
media/
.idea/
.idea
__pycache__/
contact_list/__pycache__/settings.cpython-38.pyc/
contacts/__pycache__/serializers.cpython-38.pyc/
contacts/__pycache__/urls.cpython-38.pyc/
contacts/__pycache__/views.cpython-38.pyc/
